body {
  background-color: #293138;
  color: #ffffffef;
  text-shadow: 2px 2px 5px #293138;
}

.form {
  opacity: 0;
  transition: 0.5s;
  height: 0;
}

.showing {
  opacity: 1;
  transform: translateX(0);
  height: auto;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  z-index: -1;
  animation: fadeIn 0.5s linear;
  filter: brightness(70%);
}

button {
  background-color: rgba(0, 0, 0, 0);
  border: 0;
}

.js-clock {
  position: absolute;
  top: 45%;
  bottom: 55%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.js-form {
  position: absolute;
  top: 63%;
  left: 47.7%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.js-greetings {
  position: absolute;
  top: 63%;
  left: 52.5%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.js-toDoForm {
  position: absolute;
  top: 73%;
  left: 47.7%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.js-toDoList {
  position: absolute;
  top: 83%;
  left: 47.7%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.js-weather {
  position: absolute;
  top: 20%;
  left: 90%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}
