body {
  background-color: #293138;
}

.btn {
  cursor: pointer;
}

body {
  color: #9fd2ffef;
}

.clicked {
  color: #fd79a8;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}
