body {
  background-color: #293138;
}

.btn {
  cursor: pointer;
}

body {
  color: #ffffffef;
  text-shadow: 2px 2px 5px #293138;
}

.clicked {
  color: #fd79a8;
}

.form,
.greetings {
  display: none;
}

.showing {
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  animation: fadeIn 2.5s linear;
}

.js-clock {
  position: absolute;
  top: 45%;
  bottom: 55%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.js-form {
  position: absolute;
  top: 63%;
  left: 47.7%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.js-greetings {
  position: absolute;
  top: 63%;
  left: 52.5%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.js-toDoForm {
  position: absolute;
  top: 73%;
  left: 47.7%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.js-toDoList {
  position: absolute;
  top: 83%;
  left: 47.7%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}

.js-weather {
  position: absolute;
  top: 20%;
  left: 90%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
}
